.all-detail{
    background-color: black;
    color: whitesmoke;
    margin-bottom: 50px;

}
.detail{
    background-color:blueviolet ;
    color: whitesmoke;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-left: 5px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(2 ,1fr);
}
.info{
    margin-left:5px ;
    margin-top: 10px;
}
.img-info img{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}
.description{
    margin-left: 20px;
    margin-top: 20px;
}
.icon a{
    padding: 10px;
    font-size: 50px;
}
.icon{
    text-align: center;
    padding-bottom: 50px;
}
.icon a span{
    color: red;
}
@media(max-width:760px){
        .detail{
            grid-template-columns: repeat(1,1fr);
            text-align: center;
        }
}